/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode


.DS_Store
.npm
.nvmrc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*



.env
.env.backup
.env.example.backup
.env.production
.env.testing



/node_modules
/vendor
/public/build
/public/hot



/storage/.key
/storage/app/public/
!/storage/app/public/.gitignore
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/.log
/bootstrap/cache/



.phpunit.result.cache
phpunit.xml



.idea/
.vscode/